@using StackExchange.Redis
@using Microsoft.Extensions.Configuration
@using System.Text
@using Newtonsoft.Json.Linq
@using System.Net.Http.Json
@using RedisBloomBlazor.Data
@inject HttpClient _client
@inject IConnectionMultiplexer _mux
@inject IConfiguration _config
@inject VideoService _videoService

<table>
@for( var i = 0; i < _tiles.Count; i+=3)
{
    <tr>
        @for (var j = i; j < _tiles.Count && j < i + 3; j++)
        {
            <td><VideoTile Data="@_tiles[j]"/></td>
        }
    </tr>
}    
</table>


@code {
    private List<VideoData> _tiles = new();
    protected override async Task OnInitializedAsync()
    {
        _tiles = (await _videoService.GetVideoData()).ToList();
    }

}